---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const title = "About me";
const pageTitle = title;
const email = "madebymax.dev@gmail.com";
---

<Layout pageTitle={pageTitle}>
  <Section>
    <h1>{title}</h1>
    <p>
      I'm a product designer with more than 10 years of experience in medical
      technology and developer tools, working on making the leap into a more
      engineering-based role.
    </p>
    <p>
      You can get in touch with me at <a href={`mailto:${email}`}>{email}.</a>
    </p>
    <div>
      <img src="/images/profilepic.jpg" class="profile" />
    </div>
  </Section>
</Layout>
