---
import { getCollection } from 'astro:content';
import Section from '../components/Section.astro';
import Layout from "../layouts/Layout.astro";
import HorizontalSeparator from '../components/HorizontalSeparator.astro';
import BlogCard from '../components/BlogCard.astro';

const posts = await getCollection('blog');
posts.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});

const heading = 'Blog';
---

<Layout>
  <Section>
    <h1>{heading}</h1>
    {posts.map(post => (
      <BlogCard post={post}/>
      <HorizontalSeparator/>
    ))}
  </Section>
</Layout>
