---
import ButtonLink from "./ButtonLink.astro";
import Section from "./Section.astro";
---

<Section>
  <header id="header">
    <div class="content">
      <h1>
        <span>Hey, I'm Max,</span>
        <span>designer and <span class="accent">creative coder!</span></span>
      </h1>
      <p class="description">
        I'm a product designer with over 10 years of experience specializing in
        systems design and information architecture. I'm looking to break into
        design engineering so I'm learning React and brushing up on my CSS and
        Javascript. I'll probably add in some Node.js and Next.js while I'm at
        it.
      </p>
      <!-- <div class="button-container">
        <ButtonLink href="/projects" text="View projects" variant="secondary" />
        <ButtonLink
          href="/resume.pdf"
          text="Download resume"
          isDownload={true}
        />
      </div> -->
    </div>
    <img src="/images/profilepic.jpg" class="profile" />
  </header>
</Section>

<style>
  #header {
    display: grid;
    grid-template-columns: 540px 1fr;
    justify-items: center;
    gap: 80px;
    align-items: center;

    h1 {
      font-size: 44px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .accent {
        color: var(--primary);
      }
    }

    .button-container {
      display: flex;
      gap: 10px;
    }

    .description {
      line-height: 28px;
      color: var(--dark);
      margin-bottom: 30px;
    }

    @media (max-width: 1000px) {
      & {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 40px;

        img {
          grid-row: 1;
        }
      }
    }

    @media (max-width: 600px) {
      .button-container {
        flex-direction: column;
      }
    }
  }
</style>
