---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
  <style is:global>
    body {
      margin: 0;
      padding: 0;
      font-family: "DM Sans", sans-serif;
      background-color: var(--dark);
    }

    h1 {
      weight: 700;
      font-size: 44px;
      margin-bottom: 80px;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6;
    }

    img.profile {
      max-width: 250px;
      border-radius: 100%;
    }

    .profile {
      background: -webkit-linear-gradient(-27deg, #635dff, #908bff);
    }
    pre {
      padding: 1em;
      border-radius: 5px;
    }

    * {
      box-sizing: border-box;
      color: var(--white);
      margin: 0;
    }

    :root {
      --primary: #635dff;
      --secondary: #908bff;
      --white: #ffffff;
      --dark: #1e212a;
      --light: #40454b;
    }
  </style>
</html>
